<!DOCTYPE html>
<html>
<head>
    <title>BidCom Character - Registrar</title>
</head>
<body>
<h1>Lian Zhao - Registrar</h1>
<hr>

{% if 20301 in game_events %}
<p> As we announce who our panelists and other event runners are going to be, they keep asking if they have to pay for their memberships. 
    They are all volunteers, and the con is pretty obviously profitting off their volunteer labor. 
    But if we give them all free memberships, we may not have the funds to cover the con's costs. 
    The committee need to figure out a policy for this. You have no personal stake in this issue, but need to help the committee fully understand the implications of their decision.
</p><hr>
{% endif %}

{% if 20302 in game_events %}
<p>
    The Committee decides to give all panelists and event runners free memberships. 
    This is a popular decision among the panelists, and it helps to ensure that we have a strong lineup of panels and events for the con. 
    However, it does put a strain on our budget, and we may need to find other ways to cut costs or raise funds to make up for the lost revenue from memberships.
</p><hr>
{% endif %}

{% if 30304 in game_events %}
<p>
    The programming staff didn't adequately inform the panelists and event runners about the free membership policy. 
    A moderately popular author who just moved to the area and was excited to be part of the con finds out about the policy when they arrive to the con. 
    They're very upset that they had to pay, and making a scene about it in the registration line. 
    Under the rules, the registrar can refund their membership fee as a sort of customer service call, but since so many other panelists and event runners just accepted the situation gracefully, you are ambivalent about refunding the author's membership fee; it risks all the other panelists demanding the same.
</p><hr>
{% endif %}

{% if 30305 in game_events %}
<p>
    The registrar decides to refund the author's membership fee. 
    This placates the author, but word soon spreads to the other panelists that this one author got a comped membership, and they are all demanding that they be given free memberships too. 
    Doing so is going to be a major strain on our budget, and at this point it's too late to adjust other budget items to compensate for the lost revenue. 
</p>
<p>
    There is a middle-ground option: We can credit the panelists the cost of a free single-day membership, which is a about half the full event membership. 
    It's still a significant loss of revenue, but it's more manageable than giving everyone free memberships. And the panelists aren't going to be thrilled about it, but they may be more accepting of it than having paid the full price.
</p><hr>
{% endif %}

{% if 30306 in game_events %}
<p>
    Registration holds firm, and the author walks out of the con in a huff. A few panels are moderately affected by the author's absence, but the effect seems to be mild.
</p><hr>
{% endif %}

{% if 30310 in game_events %}
<p>
    Changing course and refunding all the panelists on panelist memberships was a costly decision, and a major strain on our budget. 
</p><hr>
{% endif %}

{% if 30311 in game_events %}
<p>
    Registration holds firm, and the author walks out of the con in a huff. A few panels are moderately affected by the author's absence, but the effect seems to be mild.
</p><hr>
{% endif %}

{% if 30312 in game_events %}
<p>
    Registration holds firm, and all weekend, the green room is abuzz with panelists grousing about the author's refund. 
    A number of panelists are Tweeting about their dissatisfaction and saying they won't participate in future cons unless the policy is changed.
</p><hr>
{% endif %}

<hr>

<p><a href="/admin">Back to Admin</a></p>
</body>
</html>